*bin/*
*bin/
.settings
.classpath
.project
compiled
*compiled
*compiled/
*compiled/*
.gitignore
/src/bacon/thepaul_t/wurmmod/configurablemobs/com
/src/bacon/thepaul_t/wurmmod/configurablemobs/com/*